<div class="chat-holder" >

    <div class="chat-area">
        {% include 'inboundMessage.html' %}
        {% include 'outboundMessage.html' %}

    </div>
    <footer class="mdl-mega-footer--bottom-section message-entry my-color-light-gray mdl-typography--text-center">

        <div class="message-box-holder width-80">

            <input class="message-box" type="text" id="sample1">
            <div class="message-send">
                <i class="material-icons my-highlight-font">send</i>
            </div>
        </div>


    </footer>

</div>