<div class="chat-holder" >

    <div id='message_holder' class="chat-area">
        {% include 'inboundMessage.html' %}
        {% include 'outboundMessage.html' %}

    </div>
    <footer class="mdl-mega-footer--bottom-section message-entry my-color-light-gray mdl-typography--text-center">

        <div class="message-box-holder width-80">

            <input class="message-box" type="text" id="message_input">



            <div id='btn_send' class="message-send">
                <button id='btn_send' class="mdl-button mdl-js-button mdl-button--icon left-offset">
                    <i class="material-icons my-highlight-font" style="margin-left: 2px;">send</i>
                </button>
            </div>

        </div>

    </footer>

</div>