<div id="temp_inbound" class="mdl-grid center-items hidden">
    <div class="mdl-cell mdl-cell--7-col">
        <li class="no-dec-list">
            <div class="in-bound-message-header">
                <div class="message-banner">
                    <i class="mdl-color--deep-purple-300 material-icons mdl-list__item-avatar major-icon-font">person</i>
                    <span class="my-primary-font left-offset"></span>
                </div>
            </div>
            <div class="in-bound-message">
                <p>

                </p>
            </div>

        </li>
    </div>


    <div class="mdl-cell mdl-cell--5-col"></div>
</div>
<!-- <hr class="my-sep small-edges"> -->

