<div id="temp_outbound" class="mdl-grid center-items hidden m">

    <div class="mdl-cell mdl-cell--5-col"></div>

    <div class="mdl-cell mdl-cell--7-col">
        <li class="no-dec-list">
            <div class="out-bound-message-header">
                <div class="message-banner">
                    <span class="my-primary-font"></span>
                </div>
            </div>
            <div class="out-bound-message">
                <p>

                </p>
            </div>

        </li>
    </div>
</div>
<!-- <hr class="my-sep small-edges"> -->
